<!DOCTYPE html><html>{{template "header" .}}<body><div>    <input type="button" value="搜索"/>    <input type="button" value="增加"/></div><table class="table table-striped">    <caption>条纹表格布局</caption>    <thead>    <tr>        <th>名称</th>        <th>城市</th>        <th>密码</th>        <th>操作</th>    </tr>    </thead>    <tbody>    <tr>        <td>Tanmay</td>        <td>Bangalore</td>        <td>560001</td>        <td>修改</td>    </tr>    <tr>        <td>Sachin</td>        <td>Mumbai</td>        <td>400003</td>        <td>修改</td>    </tr>    <tr>        <td>Uma</td>        <td>Pune</td>        <td>411027</td>        <td>修改</td>    </tr>    </tbody></table></body></html>