<!DOCTYPE html><html>{{template "header" .}}<body>{{template "snav" }}<div class="container">    这个页面用来介绍golang    <div class="row">        <div class="col-xs-3">            这里显示菜单            <ul>                <li>...</li>                <li>...</li>                <li>...</li>                <li>...</li>                <li>...</li>                <li>...</li>                <li>...</li>            </ul>        </div>        <div class="col-xs-9">            <div class="article-title"><h1>文章标题</h1></div>            <div class="article-content"> 这里显示内容</div>        </div>    </div></div>{{template "footer"}}</body></html><!-- 设置当前页面才有的状态 --><script>    $("#nav-li-golang").addClass("active")</script>