<!DOCTYPE html><html>{{template "header" .}}<body>{{template "snav" }}{{template "footer"}}</body></html><!-- 设置当前页面才有的状态 --><script>    $("#footer").click(function () {        $("#footer").hide()    })</script>